:host {
  display: block;
  width: 100%;
  min-height: 100vh;
}

.auth-layout-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
}
